[Unit]
Description=Save/Restore PyZeros State
Documentation=man:clusterctl(1)
ConditionPathExists=/usr/sbin/clusterctrl
Requisite=clusterctrl-init.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/usr/sbin/chtui apply
ExecStop=-/sbin/clusterctrl off p1 p2 p3 p4


[Install]
WantedBy=multi-user.target
