Source: clusterhat-image
Section: devel
Priority: optional
Maintainer: CyberVitexus <info@vitexsoftware.cz>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/PureHTML/clusterhat-image

Package: clusterhat-image
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},sudo,wget,unzip,coreutils,e2fsprogs,fdisk,parted,mount,sed,dialog
Recommends: gnome-multi-writer|balena-etcher
Description: Cluster Hat image builde
 Scripts and files used to build Cluster HAT images from Raspbian.

Package: clusterctrl
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},sudo,libusb-1.0-0-dev, python-usb, python-libusb1, python-smbus,dialog
Description: manage PiZeros on ClusterHat
 From the Controller Pi power to the Pi Zeros can be controlled using the 
 clusterctrl command on our configured images
